@import "../../App.scss";

.contact-input {
  width: 100%;
  border: 2px solid $color-black;
  padding: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-family: inherit;
  resize: none;
}
