@import "../../App.scss";

.contact {
  padding: 15rem 0;
  background-color: $color-white;

  &__container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
}
