@import "../../App.scss";

.project {
  width: 75%;
  margin: 0 auto;
  padding: 4rem 6rem;
  background-color: $color-white;
  box-shadow: $default-box-shadow;
  border-radius: 3px;

  @include respond(phone) {
    width: 75%;
    text-align: center;
  }

  &__title {
    &:link,
    &:visited,
    &:active {
      color: $color-primary-dark;
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      letter-spacing: 0.2rem;
      padding: 1.5rem 0;
      position: relative;
    }

    &::after {
      position: absolute;
      left: 50%;
      top: 75%;
      content: "";
      display: block;
      height: 2px;
      background: $color-black;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover::after {
      width: 100%;
      left: 0;
    }
  }

  &__info {
    font-size: 1.5rem;
  }
}
