@import "../../App.scss";

.projects {
  padding: 15rem 0;
  background-color: $color-grey-light-2;

  @include respond(tab-port) {
    padding: 8rem 0;
  }

  @include respond(phone) {
    padding: 6rem 0;
  }
}
