@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

//TYPOGRAPHY
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333;
}

//COLORS
$color-primary-light: #ffb900;
$color-primary-dark: #ff7730;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-white: #fff;
$color-black: #000;

// FONT SIZES
$default-font-size: 1.6rem;

//BOX SHADOW
$default-box-shadow: 0 3rem 6rem rgba($color-black, 0.3);

//UTILITY CLASSES
.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-lg {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-md {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-sm {
  margin-bottom: 2rem !important;
}

.u-margin-top-lg {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

//GRID

.row {
  max-width: 114rem;
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: 8rem;
  }
}
