@import "./sass/mixins";
@import "./sass//utilities";
@import "./sass/grid";

@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  //10 px if root element font is 16 px
  font-size: 62.5%;

  // 9 px
  @include respond(tab-land) {
    font-size: 56.25%;
  }

  //8px
  @include respond(tab-port) {
    font-size: 50%;
  }
}

//TYPOGRAPHY
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333;
}

//COLORS
$color-primary-light: #ffb900;
$color-primary-dark: #ff7730;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-white: #fff;
$color-black: #000;

// FONT SIZES
$default-font-size: 1.6rem;

//BOX SHADOW
$default-box-shadow: 0 3rem 6rem rgba($color-black, 0.3);
